<!-- ------------------------------------------CONTENT----------------------------------------- -->
<ion-content class="login-content">
    <div id="recaptcha-container"></div>
  <!-- ------------------------------------------BACK BUTTON----------------------------------------- -->
  <!-- <ion-icon name= md-arrow-back color = "light" class= "back-btn" (click) = "backButtonClick()"></ion-icon> -->
  <div class="login-form">
<!-- ------------------------------------------TELEPHONE----------------------------------------- -->
  <ion-list>
        <ion-item no-lines>
          <ion-icon name="md-call" color="black" class="circle-icon" item-start></ion-icon>
          <ion-input type="tel" value="+221" id="phone" aria-readonly=""></ion-input>
          <ion-input type="tel" placeholder="Téléphone"  [(ngModel)]="phoneNumber"  class="phoneInput"></ion-input>
        </ion-item>
      </ion-list>
<!-- ------------------------------------------REINITIALISER BUTTON----------------------------------------- -->
      <ion-buttons bottom center>
        <button color="secondary"  (click)="getVerificationCode(phoneNumber)" ion-button> Connexion</button>
      </ion-buttons>

    <!-- ------------------------------------------LINK:----------------------------------------- -->
      <p class="forgetBtn" (click)=conditionsUtilisation() text-center>En vous connectant,<br> vous acceptez les <span>Conditions d'utilisations</span></p>
  </div>
</ion-content>
