<ion-header>
  <ion-navbar color="light">
    <ion-title text-center text-capitalize>taxi</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="destination" text-center>
    <h4> <span>De</span> Ouest Foire</h4>
    <h4> <span>Á</span> Dakar Centre-Ville Sandaga</h4>
  </div>
  <ion-grid class="trip-detail">
    <ion-row text-center>
      <ion-col col-4>
        <h4>Distance</h4>
        <h3>3.3KM</h3>
      </ion-col>
      <ion-col class="mid-col" col-4>
        <h4>Durée</h4>
        <h3>10min</h3>
      </ion-col>
      <ion-col col-4>
        <h4>Total Coût</h4>
        <h3>30 ECO</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="map-footer" color="primary">
  <ion-grid float-right no-padding>
    <ion-row>
      <ion-col>
        <button ion-button full clear text-uppercase color="primary" (click)="dismiss()">Annuler</button>
      </ion-col>
      <ion-col>
        <button ion-button full clear text-uppercase color="dark" class="bold" (click)="dismiss();AcceptTrip()">Accepter</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>