<ion-content class="login-content">
  <div class="login-form">
      <h4>Login</h4>
      <ion-list>
        <ion-item no-lines>
          <ion-icon name="md-call" color="dark" class="circle-icon" item-start></ion-icon> 
          <ion-input type="text" placeholder="Téléphone"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-icon name="md-lock" color="dark" class="circle-icon" item-start></ion-icon>   
          <ion-input type="password" placeholder="Mot de passe"></ion-input>
        </ion-item>
      </ion-list>
      <ion-buttons bottom center>
        <button color="secondary" [navPush]="'Home'" ion-button>Connexion</button>
      </ion-buttons>
      <p class="forgetBtn" [navPush]="'Register'" text-center>Nouvel Utilisateur? Créer un compte </p>
  </div>
</ion-content>