.checkout-content{
    background-color: color($colors,dark);
    .scroll-content{
        margin-bottom: 0 !important;
    }
    .check-data , .more-check-data{
        margin-bottom: 10px;
        background-color: color($colors,light);
    }
    .check-data{
        margin: -15px 0 10px 0;
        padding: 30px 16px 16px;
    }
    .item-md{
        border-bottom: 1px solid darken(color($colors,grayColor),20%) !important;
    }
    .label-md{
        font-size: 1.35rem;
        color: darken(color($colors,grayColor),20%);
    }
    .text-input-md{
        font-size: 1.5rem;
    }
    .payment-method{
        padding-top: 12px;
        min-height: 80px;
        img{
            width: 85%;
            object-fit: contain;
            -o-object-fit: contain;
            box-shadow: 1px 1px 7px color($colors,dark);
            border-radius: 5px;
        }
    }
}

.total-price{
    .label-md , p{
        font-size: 1.5rem;
        font-weight: 500;
        text-transform: uppercase;
        color: color($colors,dark);
    }
}

.activeMethod{
    width: 98% !important;
}