<ion-content class="login-content">
  <div class="login-form">
    <!---------------------------------------- Page title-------------------------------------------->
      <h4>Login</h4>
      <ion-list>
        <!---------------------------------------- Phone Number field-------------------------------------------->
        <ion-item no-lines>
          <ion-icon name="md-call" color="dark" class="circle-icon" item-start></ion-icon> 
          <ion-input type="text" placeholder="Téléphone"></ion-input>
        </ion-item>

        <!---------------------------------------- Password field-------------------------------------------->
        <ion-item no-lines>
          <ion-icon name="md-lock" color="dark" class="circle-icon" item-start></ion-icon>   
          <ion-input type="password" placeholder="Mot de passe"></ion-input>
        </ion-item>
      </ion-list>

      <!---------------------------------------- Button CONNEXION-------------------------------------------->
      <ion-buttons bottom center>
        <button color="secondary" [navPush]="'Home'" ion-button>Connexion</button>
      </ion-buttons>
      <!---------------------------------------- link CREATE A NEW ACCOUNT--------------------------------------->
      <p class="forgetBtn" [navPush]="'Register'" text-center>Nouvel Utilisateur? <span>Créer un compte </span></p>
      <p class="forgetBtn" [navPush]="'PasswordReset'" text-center>Mot de passe oublié? <span>Réinitialiser </span></p>
  </div>
</ion-content>