page-profile {
    .header-md{
        &::after{
            display: none;
        }
    }
    .toolbar-background-md{
        background-color: transparent;
    }
    .back-button-md{
        color: color($colors,secondary);
    }
    .scroll-content{
        margin-top: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .content-md{
        background-color: color($colors,dark);
    }
}
.map{
    height:140px;
    background-image: url(../assets/img/map.png);
    background-size: cover;
}
.profile-head{
    z-index: 3;
    background-color: color($colors,dark);
    clip-path: ellipse(98% 100% at 50% 0%);
    img{
        width: 100%;
        height: 230px;
        object-fit: cover;
        opacity: .7;
    }
}

.profile-detail{
    z-index: 1;
    margin: -35px 12px 0 12px;
    padding-top: 35px;
    background-color: color($colors,light);
    .item-md{
        &:last-of-type{
            margin-bottom: 10px;
        }
    }
    .label-md[stacked]{
        font-size: 1.4rem;
        font-weight: 500;
    }
    input::-webkit-input-placeholder {
        font-weight: 500;
        color: color($colors,dark);
    }
    ion-segment{
        padding: 7px 0;
        background-color: color($colors,dark);
        .segment-button{
            color: color($colors,dark) !important;
            background-color: color($colors,secondary);
            opacity: 1 !important;
            font-weight: bold;
            border-bottom-width: 3px;
            border-bottom-color: transparent;
        }
    }
    img{
        height: 120px;
        width: 100%;
        object-fit: cover;
        display: block;
    }
    .trip-distention{
        width: 100%;
        margin-top: 0;
        opacity: 1;
        visibility: visible;
        background-color: color($colors,secondary);
        .line{
            top: 29px;
            left: 16px;
            height: 19px;
            opacity: .4;
            border: 1px dashed color($colors,primary);
        }
        .item-md{
            min-height: 3.4rem;
            ion-icon[item-start]{
                margin-top: 6px;
                margin-bottom: 7px;
                + .item-inner{
                    margin-left: 0;
                    padding-right: 0;
                }
            }
            &:last-of-type{
                margin-bottom: 0;
            }
        }
        .label-md{
            font-weight: 500;
            font-size: 1.3rem;
            margin: 9px 8px 8px 0;
            color: color($colors,dark);
        }
    }
    .status{
        h4{
            font-size: 1.4rem;
            margin-bottom: 0;
        }
        p{
            font-size: 1.2rem;
            color: color($colors,primary);
        }
    }
    .cash{
        border-bottom: 1px solid color($colors,grayColor);
        ion-icon[item-start]{
             + .item-inner{
                 margin-left: 8px;
             }
        }
        .label-md{
            margin: 3px 8px 3px 0;
        }
        p{
            font-size: 1.2rem;
            color: color($colors,dark);
        }
        .item-button{
            height: 30px;
            width: 75px;
            color: color($colors,light);
        }
    }
}

.notify{
    .status{
        p{
            margin-top: 2rem;
            margin-bottom: 0;
        }
    }
}