page-destination-modal {
    height: 400px !important;
    width: 90% !important;
    // top: calc((100% - 260px) / 2) !important;
    top: 10% !important;
    border: solid .5px rgba(color($colors, secondary), 0.33);
    left: calc(10% /2) !important;
    border-radius: 10px !important;
    margin: auto;
    
    .bokko-item{
        background-color: rgba(color($colors, noColor), 0);
    
        ion-grid{
            border: rgba(color($colors, secondary), 0.5) solid 0.5px;
            border-radius: 5px;
            margin: auto; 
            ion-icon{
                color: color($colors, secondary);
                &[left]{
                    position: absolute;
                    // left: -25px;
                }
            }
            ion-col{
                display: inline;
                color: white;
            }
            h2,h3 b {
                position: relative;
                margin: auto;
                color: color($colors, secondary);
            }
        }
        
    }
    .line{
        position: absolute;
        top: 70px;
        left: 27px;
        width: 1px;
        height: 20px;
        border-right: 1px dashed  rgba(color($colors,secondary),.5);
    }
    .header-md{
        
        ion-navbar{
            
            height: 0px;
            border-bottom: 0.4px solid rgba(color($colors,secondary), 0.5);
            
            ion-title{
                    p {
                        color: color($colors, secondary);
                      }
                     }
                  }
        
        &::after{
            display: none;
        }
    }
    .content-md {
        background-color: rgba(color($colors, primary),0.7);
        border-radius: 10px;
    }
    
    .toolbar-md{
        min-height: 65px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .toolbar-title-md{
        font-size: 2.3rem;
    }
    .destination{
        padding: 0 25px;
        h4{
            margin: 3px 0 !important;
            font-size: 1.4rem;
            color: color($colors, light);
            @extend %overflow;
            span{
                margin-right: 2px;
                color: color($colors,secondary);
            }
        }
    }

    .trip-detail{
        padding-top: 20px;
        h4, h3{
            color: color($colors,secondary);
        }

    }
    ion-footer{
        display: flex;
        justify-content: center;
        padding: 5px 3px;
        ion-buttons .button-md {
                border-radius: 20px;
        }
        // .grid{
        //     width: 70%;
        //     float: right;
        // }
    }
}