<!-- ---------------------------------------HEADER---------------------------------------- -->
<ion-header>
  <ion-navbar color = "noColor">
    <ion-title text-center><p>Bokko(s)</p></ion-title>
  </ion-navbar>
</ion-header> 

<!-- ---------------------------------------CONTENT---------------------------------------- -->
<ion-content>
  <div class="destination" text-center>
    <h4> <span>De</span> Ouest Foire</h4>
    <h4> <span>Á</span> Dakar Centre-Ville Sandaga</h4>
  </div>

  <ion-list no-lines>
      <ion-item transparent class = "bokko-item" *ngFor = "let bokko of allBokkos">
      <ion-grid>
          <h2><ion-icon name = "md-person" item-start></ion-icon>
              {{bokko.driver.firstName}}
          </h2>
          <ion-row> 
              <ion-col>
              <h3><b>De:    </b>{{bokko.start}}</h3>
              </ion-col>
              
          </ion-row>
          <ion-row> 
              <ion-col>
              <h3><b>Á: </b> {{bokko.end}} </h3>
              </ion-col>
              
          </ion-row>
          <!-- <h3><b>De: </b>{{bokko.start}}</h3> -->
          <!-- <h3><b>Á: </b>{{bokko.end}}</h3> -->
    
        <ion-row>
          <ion-col>
              <h3><ion-icon name = "cash" item-start no-padding></ion-icon>{{bokko.cost}}</h3>
          </ion-col>
          <ion-col>
              <h3><ion-icon name = "md-people" item-start no-padding></ion-icon>{{bokko.clients}}</h3>
          </ion-col>
          <ion-col>
              <h3><ion-icon name = "md-time" item-start no-padding></ion-icon>{{bokko.time}} min</h3>
          </ion-col>
        </ion-row>
      </ion-grid>

      </ion-item>
  </ion-list>
      
  <!-- <ion-grid class="trip-detail">
    <ion-row text-center>
      <ion-col col-4>3
        <h4>Distance</h4>
        <h3>3.3KM</h3>
      </ion-col>
      <ion-col class="mid-col" col-4>
        <h4>Durée</h4>
        <h3>10min</h3>
      </ion-col>
      <ion-col col-4>
        <h4>Total Coût</h4>
        <h3>30 ECO</h3>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
<!-- ---------------------------------------FOOTER------------------------------------------>
<ion-footer color="primary">
  <!-- <ion-grid float-right no-padding>
    <ion-row>
      <ion-col>
         -------------------------------close BUTTON---------------------------------
        <button ion-button icon-only color="secondary" (click)="dismiss()">
          <ion-icon name = "close"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
         -----------------------------call a taxi BUTTON----------------------------
          <button ion-button 
            full clear text-uppercase 
            color="secondary" 
            class="bold" 
            (click)="dismiss();AcceptTrip()">
            Appeler
      </button>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <ion-buttons bottom left>
      <button ion-button icon-only color="secondary" (click)="dismiss()">
          <ion-icon name = "close"></ion-icon>
        </button>
  </ion-buttons>
  
  <ion-buttons>
      <button ion-button color="secondary" (click)="dismiss()">
        <b>Appeler</b>
        </button>
  </ion-buttons>

</ion-footer>