<!-- ------------------------------------------CONTENT----------------------------------------- -->
<ion-content class="login-content">
  <!-- ------------------------------------------BACK BUTTON----------------------------------------- -->
  <!-- <ion-icon name= md-arrow-back color = "light" class= "back-btn" (click) = "backButtonClick()"></ion-icon> -->
  <div class="login-form">
<!-- ------------------------------------------TELEPHONE----------------------------------------- -->
  <ion-list>
        <ion-item no-lines>
          <ion-icon name="md-call" color="black" class="circle-icon" item-start></ion-icon>
          <ion-input type="tel" value="+221" id="phone" ></ion-input>
          <ion-input type="tel" placeholder="Téléphone" class="phoneInput"></ion-input>
        </ion-item>
      </ion-list>
<!-- ------------------------------------------REINITIALISER BUTTON----------------------------------------- -->
      <ion-buttons bottom center>
        <button color="secondary" [navPush]="'CodeVerificationPage'" ion-button> Connexion</button>
      </ion-buttons>

    <!-- ------------------------------------------LINK:----------------------------------------- -->
      <p class="forgetBtn" [navPush]="'Register'" text-center>En vous connectant,<br> vous acceptez les <span>Conditions d'utilisations</span></p>
  </div>
</ion-content>
