<ion-content class="login-content">
  <ion-icon name="md-arrow-back" color="light" class="back-btn" (click)="backButtonClick()"></ion-icon>
  <div class="login-form">
    
      <h4>Ajouter un Taxi</h4>
      <ion-list radio-group class="vehicle-types">
        <ion-item mode="ios" no-lines no-padding>
          <img src="assets/img/micro-car.png" item-start />
          <ion-label>Hybrid</ion-label>
          <ion-radio value="micro" mode="ios" item-end></ion-radio>
        </ion-item>
        <ion-item mode="ios" no-lines no-padding>
          <img src="assets/img/mini-car.png" item-start />
          <ion-label>Mini</ion-label>
          <ion-radio  checked="true" value="mini" mode="ios" item-end></ion-radio>
        </ion-item>
        <ion-item mode="ios" no-lines no-padding>
          <img src="assets/img/sedan-car.png" item-start />
          <ion-label>Sedan</ion-label>
          <ion-radio  value="sedan" mode="ios" item-end></ion-radio>
        </ion-item>
      </ion-list>

      <h4>Permis de Conduire</h4>
      <ion-list class="license" no-margin>
        <ion-item no-lines no-padding> 
          <ion-input type="text" placeholder="Numéro du Permis"></ion-input>
        </ion-item>

        <ion-item no-lines no-padding> 
          <ion-input type="text" placeholder="Type de Véhicule "></ion-input>
        </ion-item>

        <div class="user-name">
          <ion-item no-lines no-padding>
            <ion-input displayFormat="MM/DD/YYYY" placeholder="Délivré le"></ion-input>
          </ion-item>
          <ion-item no-padding no-lines>
            <ion-datetime displayFormat="MM/DD/YYYY" placeholder="Date d'Expiration"></ion-datetime>
          </ion-item>
        </div>
      </ion-list>
      <ion-buttons>
          <button color="secondary" [navPush]="'Home'" ion-button>Valider</button>
        </ion-buttons>
  </div>
</ion-content>