page-setting{
    .scroll-content{
        padding-top: 20px !important;
    }
}

.setting-list{
    padding: 10px;
    ion-label{
        font-size: 1.5rem !important;
        font-weight: 400;
        color: color($colors,dark) !important;
        margin: 15px 8px 15px 0;
        p{
            font-size: 1.3rem;
            margin-top: 3px;
        }
    }
    input::-webkit-input-placeholder {
        color: color($colors,dark) !important;
    }
}

.change-password{
    .input-wrapper{
        display: block;
        margin-bottom: 15px;
    }
    .label-md{
        margin-bottom: 3px;
        color: #000;
    }
    .item-md{
        font-size: 1.3rem;
        color: #757575;
    }
}