<ion-content class="login-content" text-center>
    <ion-icon name="md-arrow-back" color="light" class="back-btn" (click)="backButtonClick()"></ion-icon>
    <!-- <div class="select-user-img">
      <img src="assets/img/default-img.png" />
      <ion-icon name="camera" color="dark" class="circle-icon"></ion-icon>
    </div> -->
    <div class="login-form">
  <!----------------------------------------- Page Title------------------------------------------------>
        <h4 text-left>Création de Compte</h4>
  
        <ion-list>
          <div class="user-name">
            <!----------------------------------------- First Name------------------------------------------------>
            <ion-item no-lines>
              <ion-icon name="md-person" color="dark" class="circle-icon" item-start></ion-icon>
              <ion-input type="text" placeholder="Prénom" [(ngModel)] = "driverUser.firstName"></ion-input>
            </ion-item>
  
            <!----------------------------------------- Last Name------------------------------------------------>
            <ion-item no-padding no-lines>
              <ion-input type="text" placeholder="Nom" [(ngModel)] = "driverUser.lastName"></ion-input>
            </ion-item>
          </div>
          <!----------------------------------------- phone number------------------------------------------------>
          <ion-item no-lines>
              <ion-icon name="md-call" color="black" class="circle-icon" item-start></ion-icon> 
              <ion-input type="tel" placeholder="+221" id="phone"></ion-input>
              <ion-input type="tel" placeholder="mobile" class="phoneInput" [(ngModel)] = "driverUser.phone"></ion-input>
            </ion-item>
          <!-----------------------------------------Mot de Passe------------------------------------------------>
          <ion-item no-lines>
            <ion-icon name="md-lock" color="dark" class="circle-icon" item-start></ion-icon>   
            <ion-input type="password" placeholder="Password" [(ngModel)] = "driverUser.password"></ion-input>
          </ion-item>
  
          <!----------------------------------------- confirmer mot de passe------------------------------------------------>
          <ion-item no-lines>
            <ion-icon name="md-lock" color="dark" class="circle-icon" item-start></ion-icon>   
            <ion-input type="password" placeholder="confirmer mot de passe"></ion-input>
          </ion-item>
  
        </ion-list>
        <!----------------------------------------- Button Valider------------------------------------------------>
        <ion-buttons top center>
          <button color="secondary" (click) = "saveDriverCredentials()" ion-button>Valider</button>
        </ion-buttons>
    </div>
  </ion-content>
