page-register{
    .list-md{
        margin-top: 0 !important;
    }
    #phone{
        width: 50px !important;
        max-width: 50px !important;
        .text-input-md{
            width: 35px !important;
            margin-right: 0 !important;
        }
    }
    .phoneInput{
        width: calc(100% - 60px);
        .text-input-md{
            width: calc(100% - 13px);
            margin-left: 5px;
        }
    }
}

.back-btn{
    position: absolute;
    top: 11px;
    left: 13px;
    font-size: 1.5em;
}

.select-user-img{
    margin-top: 25px;
    position: relative;
    display: inline-block;
    img{
        width: 140px;
        height: 140px;
        border-radius: 50%;
        object-fit: cover;
        -o-object-fit: cover;
    }
    .circle-icon{
        position: absolute;
        bottom: 3px;
        right: 15px;
        font-size: 1.45em !important;
        background-color: color($colors,light);
    }
}

.user-name{
    display: flex;
    .item-md{
        &:nth-of-type(1){
            .item-inner{
                padding-right: 0;
            }
            .text-input-md , .datetime-md{
                margin-right: 0 !important;
                width: calc(100% - 8px);
                margin: 13px 0 13px 8px;
            }
        }
        &:nth-of-type(2){
            .text-input-md{
                margin-left: 15px;
                width: calc(100% - 23px);
            } 
        }
    }
}