<ion-content class="login-content">
  <div class="login-form">
      <h4>Login</h4>
      <ion-list>
        <ion-item no-lines>
          <!-- <ion-icon name="md-call" color="dark" class="circle-icon" item-start></ion-icon> 
          <ion-input type="text" placeholder="Téléphone"></ion-input> -->
          <ion-icon name="md-call" color="black" class="circle-icon" item-start></ion-icon> 
          <ion-input type="tel" placeholder="+221" id="phone"></ion-input>
          <ion-input type="tel" placeholder="Téléphone" class="phoneInput"></ion-input>
          
        </ion-item>

        <ion-item no-lines>
          <ion-icon name="md-lock" color="dark" class="circle-icon" item-start></ion-icon>   
          <ion-input type="password" placeholder="Mot de passe"></ion-input>
        </ion-item>
      </ion-list>
      <ion-buttons bottom center>
        <button color="secondary" [navPush]="'Home'" ion-button> Connexion</button>
      </ion-buttons>
      <p class="forgetBtn" [navPush]="'Register'" text-center> Nouvel utilisateur ? Créer Un Compte </p>
      <p class="forgetBtn" [navPush]="'PasswordReset'" text-center> Mot de passe oublié? </p>
  </div>
</ion-content>


  