.user-img-btn{
    height: 40px;
    margin-top: -2px;
    img{
        width: 37px;
        height: 37px;
        border-radius: 50%;
        object-fit: cover;
    }
}
.map-content{
    .scroll-content{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}
#map {
    width: 100%;
    height: 100%;
    position: relative;
    .gm-style-mtc{
        margin-top: 30px !important;
    }
    .gm-fullscreen-control{
        display: none !important;
    }
}

.app-footer{
    &.new-clip{
        .toolbar-md{
            clip-path: ellipse(110% 100% at 50% 100%) !important;
        }
    }
}

.Trip-det{
    min-height: 45px;
    ion-fab[top]{
        top: 8px;
    }
}

.trip-distention{
    width: 90%;
    margin: 0 auto;
    margin-top: -15px;
    position: relative;
    background-color: color($colors, primary);
    border-radius: 10px;
    -webkit-transition: all .35s ease-in-out; /* Safari 3.1 to 6.0 */
    transition: all .35s ease-in-out;
    .item-md{
        background-color: transparent;
        color: color($colors, light);
        ion-icon{
            font-size: 1.8rem;
            min-height: 1.8rem;
            &[item-start]{
                + .item-inner{
                    margin-left: 5px;
                    // border-bottom: 1px solid rgba(color($colors,secondary),.5);
                }
            }
        }
        &:last-of-type{
            .item-inner{
                border-bottom: 0 !important;                
            }
        }
        &.item-input.input-has-focus{
            .item-inner{
                box-shadow: none !important;
            }
        }
    }

    .search-class{
        padding: 0;
        .searchbar-input-container{
            margin-left: 0px;
            .searchbar-input{
                background-color: color($colors, primary);
                color: color($colors, light);
                text-align: center;
                border: solid 0.4px rgba(color($colors, secondary), 0.5) ;
                border-radius: 20px;          }
        }
        .searchbar-search-icon{
            display: none;
            width: 0;
            height: 0;
        }
    }
    .line{
        position: absolute;
        top: 38px;
        left: 27px;
        width: 1px;
        height: 70px;
        border-right: 1px dashed  rgba(color($colors,secondary),.5);
    }
    input::-webkit-input-placeholder {
        font-size: 1.35rem;
        color: darken(color($colors,grayColor),15%);
    }
    .text-input-md{
        margin-left: 0 !important;
    }
}

.trip-details{
    padding: 50px 10px 0 10px;
    .list-header-md{
        min-height: 3.4rem;
        font-size: 1.25rem;
        font-weight: normal;
        color: rgba(255, 255, 255, 0.9);
        span{
            display: inline-block;
            white-space: nowrap;
            margin-left: 10px;
        }
    }
    ion-icon{
        font-size: 3.3rem;
    }
    .item-md{
        background-color: transparent;
    }
    .label-md{
        margin: 0;
    }
}

.No-people{
    .item-md{
        // ion-radio{
        //     .radio-icon{
        //         display: none;
        //     }
        //     button{
        //         .button-inner{
        //             display: none;
        //         }
        //     }
        // }
    }
    ion-col{
        display: flex;
        flex-direction: column;
        ion-icon{
            border: .5px solid rgba(color($colors, secondary), 0.5);
            padding: 20px 25px;
            border-radius: 100%;
            position: relative;
            margin: auto;
        }
    }

    // .input-wrapper{
    //     display: inline-block;
    // }
    // .item-radio.item ion-label{
    //     line-height: 31px;
    //     width: 30px;
    //     height: 30px;
    //     font-size: 2rem;
    //     font-weight: 500;
    //     display: inline-block;
    // }
    // .item-radio-checked ion-label {
    //     background: color($colors,secondary);
    //     border-radius: 50%;
    // }
    // .item .radio{
    //     margin: 0;
    // }
    // .item-ios.item-block .item-inner{
    //     padding-right: 0;
    // }
}

.payment-method{
    .row{
        align-items: center;
    }
    .item-md{
        .radio-md{
            &[item-start]{
                margin: 11px 4px 11px 0;
            }
        }
        .item-inner{
            padding: 0;
            font-size: 1.3rem;
        }
    }
    .label-md{
        font-weight: 500;
    }
    .item-radio-md-secondary.item-radio-checked{
        ion-label{
            color: color($colors,dark);
        }
    }
}

.accept-trip{
    p{
        color: color($colors,secondary);
        margin: 20px 0 5px 0 !important;
        @extend %overflow;
    }
    .left-right-fab{
        top: -22px !important;
    }
    .message-fab{
        left: 70px !important;
    }
    .delete-fab{
        top: -31.5px !important;
    }
    .phone-fab{
        right: 70px !important;
    }
}