<!--------------------------------------------------HEADER----------------------------------------------------->
<ion-header class="app-header">
  <!---------------------------------------------Navigation bar------------------------------------------------->
  <ion-navbar transparent hideBackButton="true">
    <!-- <ion-buttons style="order:1;" start>
      <button class="user-img-btn" [navPush]="'Profile'" ion-button icon-only>
        <img src="assets/img/user.png">
      </button>
    </ion-buttons> -->
    <!-- <ion-title text-capitalize>taxi</ion-title> -->
    <ion-buttons start>
      <button ion-fab icon-only [navPush]="'Setting'">
        <ion-icon name="md-menu" color="secondary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

<!----------------------------------------------Trip Distention--------------------------------------------------> 
   <!-- --------------------------------------text field: CURRENT POSITION---------------------------------------->
    <div class="trip-distention" [hidden] = "showTrip">
      <ion-item no-lines>
        <ion-icon name="md-disc" color="secondary" item-start></ion-icon>
              <ion-searchbar  
                class="search-class"
                [(ngModel)]="autocomplete.start" 
                (ionInput)="SearchResultsDepart()" 
                placeholder="Position de départ"
                ></ion-searchbar>
      </ion-item>
    

    <!-- --------------------------------------text field: DESTINATION ---------------------------------------->
     <ion-item no-lines>
      <ion-icon name="md-pin" color="secondary" item-start></ion-icon>
              <ion-searchbar  
                class="search-class"
                [(ngModel)]="autocomplete.end"
                (ionInput)="SearchResultsDest()" 
                placeholder ="Où allez-vous?"
                (change)="calculateAndDisplayRoute()">
              </ion-searchbar>
    </ion-item>
    <div class="line"></div>
    
    <ion-list [hidden]="autocompleteItems.length == 0">
      <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
        {{ item.description }}
      </ion-item>
    </ion-list>
  </div>
  </ion-header>

<!--------------------------------------------------CONTENT---------------------------------------------------->
<ion-content class="map-content">
  <div #map id="map" data-tap-disabled="true"></div>
  <!-- <p>This is a test to check if the Home page loads</p> -->
</ion-content>

<!---------------------------------------------------FOOTER----------------------------------------------------->
<ion-footer class="app-footer" [ngClass]="{'new-clip': !showTrip}">

  <ion-toolbar [color] = "showTrip ? 'primary' : 'noColor'" >
    <div class="Trip-det" *ngIf="!_myApp.accept">
<!---------------------------------------------------button CALL----------------------------------------------------->
        <ion-fab top right *ngIf="!showTrip">
          
          <!-- <button (click)="activeTrip()" ion-fab color="primary"> -->
          <button ion-fab color="primary">
            <ion-icon name="md-locate" color="secondary"></ion-icon>
          </button>
        </ion-fab>

        <!-- <ion-fab top center *ngIf="showDetails">
          <button [navPush]="'Checkout'" ion-fab color="secondary">
            <ion-icon name="md-checkmark" color="light"></ion-icon>
          </button>
        </ion-fab> -->

        <div class="trip-details" *ngIf="showTrip"> 

          <ion-list class="No-people" no-margin>
            <!-- <ion-list-header no-padding no-margin no-lines>
              Number of people
            </ion-list-header> -->
            <ion-grid no-padding>
              <ion-row>
                <!-- <ion-col col-2>
                  <ion-icon name="md-people" color="secondary"></ion-icon>
                </ion-col> -->
                <ion-col >
                  <ion-item text-center no-padding no-lines>
                    <ion-label  color = "secondary" >Seul</ion-label>
                    <!-- <ion-radio checked="true" value="1"></ion-radio> -->
                  </ion-item>
                  <ion-icon name = "md-person" color = "secondary" item-end></ion-icon>

                </ion-col>

                <ion-col>
                  <ion-item text-center no-padding no-lines>
                    <ion-label color = "secondary">Co-voiturage</ion-label>
                    <!-- <ion-radio checked="true" value="1"></ion-radio> -->
                  </ion-item>
                  <ion-icon name = "md-people" color = "secondary"></ion-icon>
                </ion-col>

                <!-- <ion-col>
                  <ion-item text-center no-padding no-lines>
                    <ion-label>2</ion-label>
                    <ion-radio value="2"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item text-center no-padding no-lines>
                    <ion-label>3</ion-label>
                    <ion-radio value="3"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item text-center no-padding no-lines>
                    <ion-label>4</ion-label>
                    <ion-radio value="4"></ion-radio>
                  </ion-item>
                </ion-col> -->
              </ion-row>
              
            </ion-grid>
          </ion-list>

          <!-- <ion-list radio-group class="payment-method" no-margin>
            <ion-list-header no-padding no-margin no-lines>
              Payment method
            </ion-list-header>
            <ion-grid no-padding>
              <ion-row>
                <ion-col col-2>
                  <ion-icon name="md-card" color="secondary"></ion-icon>
                </ion-col>
                <ion-col>
                  <ion-item no-padding no-lines>
                    <ion-label> Et pay </ion-label>
                    <ion-radio checked="true" value="etpay" color="secondary" item-start></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item no-padding no-lines>
                    <ion-label> Cash </ion-label>
                    <ion-radio value="cash" color="secondary" item-start></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item no-padding no-lines>
                    <ion-label> Credit Card </ion-label>
                    <ion-radio value="creditcard" color="secondary" item-start></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-list> -->

          <!-- <ion-list-header no-padding no-margin no-lines>
            cost per person <span>30$</span>
          </ion-list-header> -->
          
        </div> 
    </div>

    <div *ngIf="_myApp.accept" class="accept-trip" text-center>
      <p>10 min to arrive</p>
    </div>
    
  </ion-toolbar>

  <div class="accept-trip" *ngIf="_myApp.accept">
    <ion-fab class="message-fab left-right-fab" top left mini edge>
      <button (click)="presentMessageModal()" color="dark" ion-fab mini>
        <ion-icon name="md-text" color="secondary"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab class="delete-fab" top center edge>
      <button (click)="cancelAlert()" color="secondary" ion-fab>
        <ion-icon name="md-trash" color="light"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab class="phone-fab left-right-fab" top right mini edge>
      <button color="dark" ion-fab mini>
        <ion-icon name="md-call" color="secondary"></ion-icon>
      </button>
    </ion-fab>

    <div class="border"></div>
  </div>

</ion-footer>