<ion-content class="login-content" text-center>
  <ion-icon name="md-arrow-back" color="light" class="back-btn" (click)="backButtonClick()"></ion-icon>
  
  <div class="login-form">
      

      <h4 text-left>Création de Compte</h4>
      <ion-list>
        <div class="user-name">
          <ion-item no-lines>
            <ion-icon name="md-person" color="dark" class="circle-icon" item-start></ion-icon>
            <ion-input type="text" placeholder="Prénom" [(ngModel)] = "driverEntity.firstName" ></ion-input>
          </ion-item>
          <ion-item no-padding no-lines>
            <ion-input type="text" placeholder="Nom" [(ngModel)] = "driverEntity.lastName" ></ion-input>
          </ion-item>
        </div>

        <ion-item no-lines>
          <ion-icon name="md-call" color="black" class="circle-icon" item-start></ion-icon> 
          <ion-input type="tel" placeholder="+221" id="phone"></ion-input>
          <ion-input type="tel" placeholder="Téléphone" class="phoneInput" [(ngModel)] = "driverEntity.phone"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-icon name="md-lock" color="dark" class="circle-icon" item-start></ion-icon>   
          <ion-input type="password" placeholder="Password" [(ngModel)] = "driverEntity.password"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-icon name="md-lock" color="dark" class="circle-icon" item-start></ion-icon> 
          <ion-input type="password" placeholder="confirmer mot de passe" [(ngModel)] = "confirmPassword"></ion-input>
        </ion-item>
      </ion-list>
      <p [navPush]= "'Home'">En vous inscrivant, Vous acceptez les <span>conditions générales d'utilisations</span></p>

      <ion-buttons bottom center>
        <button color="secondary" (click) = "postDriverCredentials()" ion-button>Valider</button>
      </ion-buttons>
  </div>

  <!-- <div class="select-user-img">
    <img src="assets/img/default-img.png" />
    <ion-icon name="camera" color="dark" class="circle-icon"></ion-icon>
  </div> -->

</ion-content>