<ion-content (click)="dismiss()">
  <ion-list no-margin>
    <ion-item *ngFor="let msg of messages" no-lines>
      <ion-icon name="md-text" color="secondary" item-start></ion-icon>
      {{msg.text}}
    </ion-item>
  </ion-list>
</ion-content>