<!-- ------------------------------------CONTENT---------------------------------------- -->
<ion-content class="login-content">
  <div id="recaptcha"></div>

  <!--------------------------------------BACK BUTTON---------------------------------------- -->
  <ion-icon name= md-arrow-back color = "light" class= "back-btn" (click) = "backButtonClick()"></ion-icon>

  <div class="login-form">
      <!-------------------------------text field code verification ---------------------------->
      <ion-list>
        <ion-item no-lines>
          <ion-icon name="md-checkmark" color="black" class="circle-icon" item-start></ion-icon>
          <ion-input type="tel" placeholder="Code de Vérification" [(ngModel)]="code" class="phoneInput"></ion-input>
        </ion-item>

      </ion-list>

  <!--------------------------------------BUTTON VALIDER---------------------------------------- -->
      <ion-buttons bottom center>
        <button color="secondary" (click)=confirmeCode(code) ion-button> Valider</button>
      </ion-buttons>
      <p text-center> Renvoyer Le Code</p>
  </div>
</ion-content>


