page-code-verification {
    .back-btn{
        position: absolute;
        top: 11px;
        left: 13px;
        font-size: 1.5em;

    }
    .login-content{
        @extend %main-bg;
        @extend %cover;
        .scroll-content{
            padding-bottom: 0 !important;
        }
    }

    .login-form{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 100px 5px 20px 5px;
        min-height: 300px;
        max-height: 500px;
        overflow-y: scroll !important;
        clip-path: ellipse(110% 80% at 50% 82%);
        background-color: rgba(color($colors,primary),0.66);
        .list-md{
            margin-bottom: 100px;
            .item-input{
                &:last-child{
                    border-bottom: none;
                }
            }
        }
        .item-md{
            background: transparent;
            margin-bottom: 5px;
            .text-input-md , .datetime-md{
                border-bottom: 1px solid rgba(color($colors,secondary),.5);
                color: color($colors,light);
                padding-bottom: 3px;
                margin-right: 0 !important;
            }
            ion-icon[item-start] + .item-inner{
                margin-left: 0;
            }
        }
        h4{
            // font-family: catamaran-regular;
            display: flex;
            justify-content: center;
            color: color($colors,light);
            // padding-left: 90px;
            text-transform: uppercase;
            // margin-top: 0;
            // margin-bottom: 10px;
            font-size: 2.2rem;
            font-weight: normal;
        }
        ion-buttons{
            // bottom: 55px;
            display: flex;
            justify-content: center;
            margin-bottom: 5px;
        }
        .button-md{
            margin-top: -66px;
            text-transform: capitalize;
            border-radius: 15px;
            font-size: 2rem;

        }
        p{
            margin-top: 1px;
            color: color($colors,secondary);
            font-size: 1.2rem;
        }
        input::-webkit-input-placeholder {
            font-size: 1.5rem;
            color: rgba(color($colors,light),.61) !important;
            text-transform: capitalize;
        }
    }
    #phone{
        width: 50px !important;
        max-width: 50px !important;
        .text-input-md{
            width: 35px !important;
            margin-right: 0 !important;
        }
    }
    .phoneInput{
        width: calc(100% - 60px);
        .text-input-md{
            width: calc(100% - 13px);
            margin-left: 5px;
        }
    }

    .circle-icon{
        background: color($colors,secondary);
        border-radius: 50%;
        width: 28px;
        height: 28px;
        text-align: center;
        line-height: 28px !important;
        font-size: 1.2em !important;
    }
}
.toastCodeInvalide{background-color: red; color: white;}
