<ion-header class="app-header">
  <ion-navbar color="primary">
    <ion-title text-capitalize>setting</ion-title>
  </ion-navbar>
  <div class="shadow"></div>
</ion-header>


<ion-content class="app-content">

  <ion-item-group class="setting-list" margin-bottom>
    <ion-item class="change-setting" no-padding>
      <ion-label stacked>Change password</ion-label>
      <ion-input type="password" placeholder="*************"></ion-input>
    </ion-item>

    <ion-item (click)="presentEmergency()" no-padding>Emergency Contacts</ion-item>
    <ion-item [navPush]="'Profile'" no-padding>Edit Profile</ion-item>
    <ion-item (click)=logout() no-padding>Log out</ion-item>
  </ion-item-group>

</ion-content>
