<ion-content (click)="dismiss()">
  <ion-list no-margin>
    <ion-item no-lines>
      <ion-icon name="md-text" color="secondary" item-start></ion-icon>
      I”m waiting.
    </ion-item>
  </ion-list>
</ion-content>